

# PostgreSQL 配置
POSTGRES_DB=tp_app_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=password

# MinIO 配置
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password

# 应用数据库连接字符串（基于上面的变量自动生成）
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"

# MinIO 连接配置
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false


NODE_ENV=development
APP_PORT=3002
